---
database:
  sqlalchemy:
    url: "postgresql:///marmolada"

api:
  host: "127.0.0.1"
  port: 8080

artifacts:
  root: "/var/lib/marmolada/artifacts"

tasks:
  taskiq:
    broker_url: redis://localhost:6379

    worker_settings:
      # workers: 2
      # max_threadpool_threads: …
      # shutdown_timeout: 5
      # max_async_tasks: 100
      # max_prefetch: 0
      # max_fails: -1
      # max_tasks_per_child: …
      # wait_tasks_timeout": …
      # hardkill_count": 3
      # use_process_pool": false
      # max_process_pool_processes": …
