[run]
branch = True
source = marmolada
omit =
    marmolada/database/migrations/env.py
concurrency =
    greenlet
    thread

[report]
precision = 2
fail_under = 100
exclude_also =
    def __repr__
    if TYPE_CHECKING:
    ^\s+assert_never\(.*\)$
    ^\s+case _ as unreachable:$
show_missing = True
